@import "bootstrap/scss/bootstrap";

// .container {
//   padding: 0;
//   background-color: rgb(197, 192, 169);
// }

.navbar {
  background-color: rgb(238, 238, 238);
  // max-height: 20px;
}

.nav-text {
  color:#777;
}

.nav-text:hover {
  color:rgb(85, 85, 85);
  text-decoration: none;
}

h2 {
  font-size: 20px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #216eb1;
}

a.btn-danger:hover {
  text-decoration: none;
}

a.btn-primary:hover {
  text-decoration: none;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.article p {
  font-family: Roboto;
  font-weight: lighter;
}
